body {
  font-family: 'Droid Serif';
  font-size: 62.5%;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-code, .remark-inline-code { 
  font-family: 'Ubuntu Mono';
}

h1 {
  color: #4a235a;
}

h2 {
  color: #6c3483;
}

h3 {
  color: #8e44ad;
}

a {
  color: #3498db;
}

.inverse {
  background: #272822;
  color: #777872;
}

.inverse h1, .inverse h2 {
  color: #a3e4d7;
  line-height: 0.8em;
}

.background h1 {
  color: #e8daef;
}

.left-column {
  width: 65%;
  float: left;
}

.right-column {
  width: 30%;
  float: right;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb
}

.table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center
}

.table td, .table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em
}

.table td:first-child, .table th:first-child {
  border-left-width: 0
}

.table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom
}

.table td {
  background-color: transparent
}

.table-odd td {
  background-color: #f2f2f2
}

.table-striped tr:nth-child(2n-1) td {
  background-color: #ead0f5;
}

.table-bordered td {
  border-bottom: 1px solid #cbcbcb
}

.table-bordered tbody>tr:last-child>td {
  border-bottom-width: 0
}

.table-horizontal td, .table-horizontal th {
  border-width: 0 0 1px;
  border-bottom: 1px solid #cbcbcb
}

.table-horizontal tbody>tr:last-child>td {
  border-bottom-width: 0
}

.smaller-font { font-size:14px }

.table-hover tbody tr td:hover {
  background-color: #ba48eb; 
}

/* to make images bigger when hovering over */
/* td:hover .bigpic {
  width: 300px;
  height: 300px;

} */
/* .bigpic.table-hover[] put this around the table */
/* add class="bigpic"  to image  */

#footer-content {
  /* background: #f4eaf8; */
  position: absolute;
  width: 50px;
  height: 30px;
  bottom: 0.3em;
  left: 0em;
  text-indent: 0.5em;
  border-radius: 25px;
}

.header-content {
  background: #e7d9ee;
  position: absolute;
  width: 100%;
  top: 0em;
  left: 0em;
  text-indent: 0.5em;
}

.centre {
  padding: 150px 10px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0px;
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  font-size: 100%;
}

ul li:before
{
  /* content: '\1F539'; */  /* diamond  */
  content: '\1F48E'; /* gem */ 
  /* content: '\2B50'; */ /* star */
  /* content: '\25B6'; right triangle  */
  /* content: '\2712'; pen  */
  margin: 0 1em;    /* any design */
}

li { 
  font-size: 100%;
  margin: 1em 0;
  margin-left: 0;
}
li li { 
  font-size: 90%;
  margin-left: 4%;
}

li li li { 
  font-size: 80%;
  margin-left: 8%;
} 


li:hover {
  background-color: #edddf3;
  /* overflow: hidden; */
}

.quote-box{
    
  overflow: hidden;
  margin-top: -50px;
  padding-top: -50px;
  border-radius: 17px;
  background-color: #eacaf5;
  margin-top: 15px;
  color:rgb(54, 53, 53);
  font-family: 'Yanone Kaffeesatz';
  text-align: left;
  width: 65%;
  /* position: fixed; */
  /* float: inline-start;
  float: right; */
}